 html, body {
                width: 100%;
/*                 height: 100%; */
                margin: 0;
                padding: 0;
background-color: red;
display: block;
overflow: auto;
min-height: 100% !important;
            }

.outlet ~ * {
	/*   position: absolute; */
	height: 100%;
	width: 100%;
	border: 1px solid #0B0B61;
}

.banner {
	color: white;
	background-color: #CC6633;
	width: 100%;
}

.app-title {
	color: white;
	background-color: #CC6633;
/* 	width: 100%; */
	padding: 6px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.icon-offline {
	width: 24px; /* you can use % */
	height: auto;
	float: right;
}

.icon-logout {
	width: 24px; /* you can use % */
	height: auto;
	float: left;
}