/*

771100	CC6633	FF9900	999999	CCCCCC
*/

.mines {
padding:5px;
}

.mine-container {
	display: inline-block;
}




.form {
  background: #CCCCCC;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  //margin: 0 0 15px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}




.mine-search{
	display: inline-block;
	margin: 2px;
	margin-bottom: 5px;
}

.mine-search-title {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}



.form-control {
	display: inline-block;
}