.mine-fiche {
	display: table;
	width: 100%;
}

.mine-bandeau {
	background-color: #999999;
	border: 1px solid black;
}

.mine-nom {
	font-size: 20px;
	font-weight: bold;
	background-color: var(--orange);
	padding : 2px;	
	margin: 5px 3px 5px 3px;
}

.storage {
	padding: 2px;
}

.icon-map {
	width: 24px; /* you can use % */
	height: auto;
	float: right;
}


.last-visites-title {
	font-size: 16px;
	font-weight: bold;
	align-content: right;
	background-color: var(--jaunefonce);
	padding : 2px;	
	margin: 5px 3px 5px 3px;
}

.visite {
	background-color: var(--blanc);
	margin: 5px;
	color: var(--noir);
	font-size: 14px;
	vertical-align: middle;
	border: 1px solid var(--marron);
	padding: 2px 10px 0px 10px;
}

.visite-general {
	//display: table-row;
}

.visite-contexte {
	font-weight: bold;
}

.visite-conditions {
	display: table-row;
	//vertical-align: middle;
}

.visite-condition {
	display: table-cell;
	vertical-align: middle;
}


.icon {
	width: 24px; /* you can use % */
	height: auto;
}