<div class="mine-fiche" *ngIf="mine">
	<div class="mine-bandeau">
		<span class="fiche-title">{{mine.nom}}</span>
		<!-- 			<div class="icon-map"> -->
		<!-- 				<a target="_blank"  -->
		<!-- 					href="https://www.google.com/maps/place/{{mine.gps}}">  -->
		<img class="icon-map" src="../assets/icons/icon-map.png" />
		<!-- 					 </a> -->
		<!-- 			</div> -->
	</div>
	<button (click)=downloadData()>Télécharger en vue d'une visite</button>
	<span>Propriétaire</span> <span>Adresse</span>

	<div class="mine-visites">
		<span>Dernières visites</span>
		<div class="mine-visite">
			<span>11/02/2018 par Robert Plant (4 ouvrages)</span>
		</div>
		<div class="mine-visite">
			<span>11/02/2018 par Robert Plant (7 ouvrages)</span>
		</div>
	</div>
</div>

