
.mine-fiche {
	width: 100%;
}

.mine-bandeau {
	display: table;
	width: 100%;
	margin-right: 5px;
	background-color: var(--orange);
}

.container {
	display: table;
	align-content: center;
	text-align: center;
	width: 100%;
}

.mine-nom,.storage {
	font-weight: bold;
	color: var(--noir);
	display: table-cell;
	font-size: 14px;
	vertical-align: middle;
	padding: 2px 10px 0px 10px;
}

.label {
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding: 0px 2px 0px 0px;
}

.icon {
	display: table-cell;
	vertical-align: middle;
	padding: 0px 0px 0px 2px;
}

.icon {
	width: 24px; /* you can use % */
	height: auto;
}


.last-visites-title {
	font-size: 16px;
	font-weight: bold;
	align-content: right;
	background-color: var(--jaunefonce);
	padding : 2px;	
	margin: 5px 3px 5px 3px;
}

.visite {
	background-color: var(--blanc);
	margin: 5px;
	color: var(--noir);
	font-size: 14px;
	vertical-align: middle;
	border: 1px solid var(--marron);
	padding: 2px 10px 0px 10px;
}

.visite-general {
	//display: table-row;
}

.visite-contexte {
	font-weight: bold;
}

.visite-conditions {
	display: table-row;
	//vertical-align: middle;
}

.visite-condition {
	display: table-cell;
	vertical-align: middle;
}


