<div class="mine-fiche" *ngIf="mine">
	<div class="mine-bandeau">
		<div class="mine-nom">{{mine.nom}}</div>

		<div class="storage" *ngIf="localStored">
			<div class="container">
				<div class="label">Mine stockée en local</div>
				<img class="icon" src="../assets/icons/uptodate.png" />
			</div>
		</div>

		<div class="storage" *ngIf="!localStored" (click)=downloadData()>
			<div class="container">
				<div class="label">Télécharger la mine</div>
				<img class="icon" src="../assets/icons/download.png" />
			</div>
		</div>
	</div>



	<div class="last-visites-title">Dernières visites</div>
	<div class="visite" *ngFor="let vm of mine.visitesMines">
		<div (click)="selectVisiteMine(vm)">
			<div class="visite-contexte">{{vm.contexte}}</div>
			<div class="visite-general">Opéré par {{vm.operateur}} le {{vm.dateVisite}}</div>
			<div class="visite-conditions">
				<img class="icon" src="../assets/icons/weather.png" />
				<span class="visite-condition">{{vm.meteo}}</span>
				<img class="icon" src="../assets/icons/rain-gauge.png" />
				<span class="visite-condition">{{vm.pluviometrie}} mm</span>
			</div>
		</div>
		<app-mine-visite [visiteMine]="vm" *ngIf="vm == currentVisite"></app-mine-visite>
	</div>

</div>