.detail-visite-bassin {
    border: 1px solid ;
    display: table;
    height: 100%;
    width: 100%;
}

.title-detail {
    text-align: center;
    width: 100%;
    background-color: var(--marron);
    color: var(--blanc);
    display: table-row;

}

.select-mine {
    font-style: italic;

    display: table-row;
}

label, select, input {
    padding: 2px;
    font-size: 12px;
}

.form {
    display: inline-block;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 50%;
    margin-top: 2px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 50%;
    margin-top: 2px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }