<span class="title-detail">Détail {{bassin.id}}</span>
<div class="form-group">
  <label for="enEau">En eau</label>
  <input type="checkbox" class="form-control" id="enEau" required>
</div>

<div class="form-group">
  <label for="couleurBassin">Couleur du bassin</label>
  <input type="text" class="form-control" id="couleurBassin">
</div>

<div class="form-group">
  <label for="ecoulementEntree">Ecoulement entrée</label>
  <input type="checkbox" class="form-control" id="ecoulementEntree">
</div>

<div class="form-group">
  <label for="couleurEauEntree">Couleur à l'entrée</label>
  <input type="text" class="form-control" id="couleurEauEntree">
</div>

<div class="form-group">
  <label for="ecoulementSortie">Ecoulement sortie</label>
  <input type="checkbox" class="form-control" id="ecoulementSortie">
</div>

<div class="form-group">
  <label for="couleurEauSortie">Couleur à la sortie</label>
  <input type="text" class="form-control" id="couleurEauSortie">
</div>

<div class="form-group">
  <label for="typeIntervention">Type d'intervention</label>
  <input type="text" class="form-control" id="typeIntervention">
</div>