	/*

771100	CC6633	FF9900	999999	CCCCCC
*/

.app-menu {
	
}

.app-menu ul {
	display: flex;
	width: 100%;
	margin-top: 0px;
	padding: 0;
}

.app-menu ul li {
	padding: 5px 0px 5px 0px;
	color: var(--noir);;
	display: block;
	width: 33%;
	font-size: 14px;
	text-align: center;
	border: 1px solid var(--grisfonce);
}

.notselected {
	font-weight: normal;
	background-color: var(--orangeclair);
}

.selected {
	font-weight: bold;
	background-color: var(--orange);
}