<fieldset class="general">
  <legend>Général</legend>

  <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="date">Date de la visite</label>
      </div>
      <div class="col-75">
        <input type="date" class="form-control" id="date" [(ngModel)]="date" />
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="operateur">Opérateur</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="operateur" [(ngModel)]="operateur" />
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="meteo">Météo</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="meteo" [(ngModel)]="meteo" />
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="contexte">Contexte</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="contexte" [(ngModel)]="contexte" />
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="pluviometrie">Pluviométrie</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="pluviometrie" [(ngModel)]="pluviometrie" />
      </div>
    </div>
  </div>
</fieldset>


<div class="mine-visite" *ngIf="mine">

  <div class="bassins">
    <app-list-bassins [bassins]="mine.bassins"></app-list-bassins>
  </div>
  <div class="detail">
    <app-form-visite-bassin></app-form-visite-bassin>
  </div>
</div>