<div class="form-group">
  <label for="date">Date de la visite</label>
  <input type="date" class="form-control" id="date">
</div>

<div class="form-group">
  <label for="operateur">Opérateur</label>
  <input type="text" class="form-control" id="operateur">
</div>

<div class="form-group">
  <label for="meteo">Météo</label>
  <input type="text" class="form-control" id="meteo">
</div>


<div class="mine-visite" *ngIf="mine">

  <div class="bassins">
    <app-list-bassins [bassins]="mine.bassins" (notify)="onSelectBassin($event)"></app-list-bassins>
  </div>
  <div class="detail">
    <app-form-visite-bassin [bassin]="bassin" [mine]="mine"></app-form-visite-bassin>
  </div>
</div>