.mines-label .visites-label {
	horizontl-align: center;
}

.mines ul {
		display: flex;
	width: 100%;
	margin-top: 0px;
	padding: 5px;
}

.mines ul li {
	padding: 5px 0px 5px 0px;
	background-color: var(--orangeclair);
	color: var(- -noir);;
	display: block;
/* 	width: 33%; */
	font-size: 14px;
	text-align: center;
	border: 1px solid #999999;
}

.icon {
	width: 24px; /* you can use % */
	height: auto;
}

.name {
	
}

.uptodate {
	
}

.outtodate {
	
}