<div [@fade]="'in'">
	<app-menu></app-menu>
	<div class="mines-label">Mines stockées en hors ligne</div>
	<div class="mines">
		<div *ngFor="let m of mines" class="mine">
			<div class="name">{{m.nom}}</div>
			<div *ngIf="m.uptodate" class="uptodate">
				<img class="icon" src="../assets/icons/uptodate.png" />
			</div>
			<div *ngIf="!m.uptodate" class="outtodate" (click)="update(m)">
				<img class="icon" src="../assets/icons/update.png" />
			</div>
			<div class="delete" (click)="delete(m)">
				<img class="icon" src="../assets/icons/delete.png" />
			</div>
		</div>
	</div>


	<div class="visites-label">Visites à synchroniser</div>
	<div class="visites">
		<div *ngFor="let v of visites" class="visite">
			<div class="name">{{v.nomMine}}</div>
			<div class="uptodate">
				<img class="icon" src="../assets/icons/upload.png" />
			</div>
		</div>
	</div>



</div>