<fieldset>
  <legend>Détail</legend>
  <div class="detail-visite-bassin">
    <div *ngIf="visiteBassin">
      <table>
        <tr>
          <td>En eau</td>
          <td>{{visiteBassin.enEau}}</td>
        </tr>
        <tr>
          <td>Couleur du bassin</td>
          <td>{{visiteBassin.couleurEauBassin}}</td>
        </tr>
        <tr>
          <td>Ecoulement entrée</td>
          <td>{{visiteBassin.ecoulementEntree}}</td>
        </tr>
        <tr>
          <td>Couleur entrée</td>
          <td>{{visiteBassin.couleurEauEntree}}</td>
        </tr>
        <tr>
          <td>Ecoulement sortie</td>
          <td>{{visiteBassin.ecoulementSortie}}</td>
        </tr>
        <tr>
          <td>Couleur sortie</td>
          <td>{{visiteBassin.couleurEauSortie}}</td>
        </tr>
        <tr>
          <td>Type d'intervention</td>
          <td>{{visiteBassin.typeIntervention}}</td>
        </tr>
      </table>
    </div>
    <span class="select-mine" *ngIf="!visiteBassin">Sélectionnez un bassin</span>
  </div>
</fieldset>